body {
    background-color:aliceblue;
}
.container {
    width: 80%;
    height: 800px;
    background-color: rgb(124, 236, 102);
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
}
.dog1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url('../img/dog1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s;
}
.dog2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url('../img/dog2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s;
}
.dog3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    background-image: url('../img/dog3.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s;
}