body {
    background-color:aliceblue;
}
.container {
    width: 80%;
    height: 800px;
    background-color: rgb(124, 236, 102);
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
}
.dog{
    position: absolute;
 /*   width: 100px;
    height: 100px;
*/
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s;
}
.cat{
    position: absolute;
 /*   width: 100px;
    height: 100px; */
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s;
}
